set :base_page_title,  'Collis-Puro Consulting'
set :page_title_separator, ' :: '

set :db_type, 'Pg'
set :db_name, 'collispuro_production'
set :db_host, 'db'
set :db_username, 'collispuro_production'
set :db_password, 'yourpassword'
