<h1>Skills</h1>

<% unless @skills.nil? %>
  <ul>
    <% @skills.each do|skill| %>
      <li><%= @cgi_obj.a(url('skill/' + skill[:skill_id].to_s)){skill[:name]} %> <sup><%= @cgi_obj.a(url('admin/skill/edit/' + skill[:skill_id].to_s)){'edit'} %></sup></li>
    <% end %>
  </ul>
<% end %>

<div class="new_object">
  <%= @cgi_obj.a(url('admin/skill/new')){'New skill'} %>
</div>
